*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --description-font-color: #7b7b7b;
}
.banner{
    display: table-cell;
    width: 100%;
    height: 100vh;
    background-image: url(./images/donation2.jpg),linear-gradient(to top, #000000, #2e2928, #584f49, #807a6d, #a4aa97);;
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    text-align: center;
    vertical-align: middle;

}
.banner-title{
    display: inline-block;
    max-width: 826px;
    font-weight: 700;
    font-size: 65px;
}
.banner-description{
    display: inline-block;
    max-width: 691px;
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-primary{
    font-size: 18px;
    background-color: #ff5959;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
}
.donate{
    text-align: center;
    padding-bottom: 50px;
}
.donate-title{
    margin-top: 120px;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 30px;
}
.donate-description{
    display: inline-block;
    max-width: 575px;
    margin-bottom: 50px;
    color: gray;
}
.donate-amount{
    margin: 0 auto 30px auto;
    max-width: 700px;
    display: flex;
    justify-content: space-around;
}
.amount{
    padding: 35px 20px;
    background-color: #fafafa;
    color: #707070;
    font-size: 18px;
    font-weight: 700;
}
.tk200{
    padding: 35px 20px;
    background-color: #ffeeee;
    color: #ff6c6c;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #ff6c6c;
    border-radius: 5px;
}
.other-input{
    height: 30px;
    width: 700px;
    margin-bottom: 20px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom: 1px solid #c1c1c1;
}
::placeholder{
    text-align: center;
    font-size: 16px;
    color: #c1c1c1;
}
.donate-plan{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 100px;
    
}
.donate-plan>h1{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.donate-plan>p{
    max-width: 570px;
    margin: 0 auto 50px;
    color: var(--description-font-color);
}
.plan-section{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}
.plan-section>div{
    max-width: 320px;
    max-height: 315px;
    text-align: left;
    padding: 50px 30px 50px 15px;
    border-radius: 5px;
}
.plan-1{
    background-color: #edf5f6;
    margin-right: 20px;
}
.plan-2{
    background-color: #ffeeee;
    margin-right: 20px;
}
.plan-3{
    background-color: #fff4d6;
}
.plan-img{
    margin-bottom: 30px;
}
.plan-title{
    margin-bottom: 20px;
}
.plan-describe{
    color: var(--description-font-color);
}
.contribution-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
}
.contribute-div{
    max-height: 430px;
    max-width: 520px;
    margin-right: 60px;
}
.contribute-div>h2{
    font-weight: bolder;
    font-size: 44px;
    margin-bottom: 15px;
}
.contribute-div>p{
    color: var(--description-font-color);
    max-width: 420px;
}
.contribute-div>button{
    margin-top: 30px;
    margin-bottom: 40px;
}
.contribute-img-1, .contribute-img-2{
    height: 430px;
    width: 430px;
    background-size: cover;
    border-radius: 5px;
}
.contribute-img-1{
    background-image: url(./images/donation6.jpg);
}
.contribute-img-2{
    background-image: url(./images/donation3.jpg);
    margin-right: 0;
}
.adjust{
    margin-left: 150px;
}
.update-section{
    text-align: center;
}
.update-section>h2{
    font-weight: bolder;
    font-size: 36px;
}
.update-section>p{
    color: var(--description-font-color);
    max-width: 570px;
    margin: auto;
}
.subscribe-section{
    height: 180px;
    width: 730px;
    background-color: #fff4d6;
    margin: 45px auto 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sub-btn{
    padding: 10px 35px;
    border-radius: 0px;
    margin-left: -5px;
    height: 43px;
    border-radius: 0px 5px 5px 0px;

}
.subscribe-section>input{
    height: 43px;
    width: 250px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
::placeholder{
    text-align: left;
    padding-left: 10px;
    color: #aa9f9f;
    font-size: 14px;
}
footer{
    height: 160px;
    width: 100%;
    background-color: #000000;
    position: relative;
}
footer>div{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-title{
    font-size: 26px;
    font-style: italic;
    color: red;
    text-align: center;
    margin-bottom: 25px;
}
.footer-sub-title{
    color: var(--description-font-color);
    text-align: center;
    font-size: 14px;
}